<!DOCTYPE html>
<html lang="it">

<head>
    <title>Most active days - Heatmap</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/barChart.css">
    <link rel="stylesheet" href="/static/css/heatmap.css">
    <script src="https://d3js.org/d3.v3.js"></script>
    <script src="https://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="/static/js/cal-heatmap.js"></script>
</head>
<body>
    <div id="app">
        <div class="pos-f-t">
            <div class="collapse collapser" id="navbarToggleExternalContent">
                <div class="p-4">
                    <p class="subtitleCorsi">This graph highlights the most active days in the app.</p>
                    <p class="subsubtitleCorsi">Use the icons below to navigate between graphs: </p>
                    <a v-if="log!='admin'" href="/pie" class="btn btn-default pieButton"><i class="fa fa-pie-chart pieIcon"></i></a>
                    <a v-if="log!='admin'" href="/bar" class="btn btn-default barButton"><i class="fa fa-bar-chart barIcon"></i></a>
                    <a v-if="log=='admin'" href="/admin/contactUs" class="btn btn-default contactButton"><i class="fa fa-envelope contactIcon"></i></a>
                    <a v-if="log=='admin'" href="/admin/pie" class="btn btn-default pieButton"><i class="fa fa-pie-chart pieIcon"></i></a>
                    <a v-if="log=='admin'" href="/heatmap" class="btn btn-default barButton"><i class="fa fa-calendar heatmapIcon"></i></a>
                    <a v-if="log=='admin'" href="/admin/qr" class="btn btn-default qrButton"><i class="fa fa-qrcode qrIcon"></i></a>
                    <a v-if="log=='admin'" href="/admin/userTickets" class="btn btn-default ticketButton"><i class="fa fa-th-list ticketIcon"></i></a>
                </div>
            </div>
            <nav class="navbar">
                <a class="navbar-brand" href="/heatmap">Heatmap</a>
                <a v-if="log!='admin'" href="/" class="btn btn-default homeButton"><i class="fa fa-home homeIcon"></i></a>
                <button class="navbar-toggler order-4 ml-auto" type="button" data-toggle="collapse"
                    data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-reorder"></i>
                </button>
            </nav>
        </div>
        <div class="text-center" v-if="loading">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading data...</span>
            </div>
        </div>
        <div class="calendar" style="margin:0 auto;">
            <div id="cal-heatmap"></div>
            <div style="padding-top: 10px;">
                <a href="#" style="margin-right:10px;" id="cal-heatmap-PreviousDomain-selector"><i
                        class="fa fa-chevron-left"></i></a>
                <a href="#" style="float:right;" id="cal-heatmap-NextDomain-selector"><i
                        class="fa fa-chevron-right"></i></a>
            </div>
        </div>
        <div class="filters">
                <label v-cloak for="minScore" v-show="false">Min Score</label>
                <input id="minScore" class="nice-textbox" type="text" placeholder="Min Score" v-model="filter.min" @change="setDataset"/>
                <label v-cloak for="maxScore" v-show="false">Max Score</label>
                <input id="maxScore" class="nice-textbox" type="text" placeholder="Max Score" v-model="filter.max" @change="setDataset"/>
                <label v-cloak for="selectCourse" v-show="false">Select Course</label>
                <select v-cloak id="selectCourse" name="courses" class="courses" v-model="filter.course" @change="setDataset">
                    <option v-for="course in courses" :key="courses._id">
                        {{ course._id }}
                    </option>
                </select>
        </div>
    </div>
</body>


<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://npmcdn.com/vue-router/dist/vue-router.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>


<script>
    let calendar = undefined;
    let options = {
        itemSelector: "#cal-heatmap",
        domain: "day",
        subDomain: "hour",
        itemName: ["game", "games"],
        data: null,
        dataType: "json",
        cellSize: 20,
        cellRadius: 5,
        cellPadding: 5,
        domainGutter: 20,
        displayLegend: true,
        considerMissingDataAsZero: false,
        domainDynamicDimension: true,
        previousSelector: "#cal-heatmap-PreviousDomain-selector",
        nextSelector: "#cal-heatmap-NextDomain-selector",
        cellLabel: {
            empty: "No games played on {date}",
            filled: "{count} {name} played on {date}"
        },
        domainLabelFormat: function (date) {
            moment.locale("en");
            return moment(date).format("D MMMM").toUpperCase();
        },
        subDomainTextFormat: function(date, value) {
            if (date instanceof Date) {
                return date.getHours() + ":00";
            }
            return new Date(date).getHours() + ":00";
        },
        tooltip: true,
        label: {
            position: "top"
        }
    };

    var app = new Vue({
        el: "#app",
        data: {
            dataset: [],
            courses: [],
            filter: {
                course: "All",
                min: undefined,
                max: undefined,
            },
            max: 0,
            resizeTO: {},
            loading: false,
            log: ''
        },
        methods: {
            init: function () {
                this.getUser();
                this.loading = true;
                this.setDataset();
                window.addEventListener('resize', (event) => {
                    if (this.resizeTO) clearTimeout(this.resizeTO);
                    this.resizeTO = setTimeout(() => this.makeHeatmap(), 50);
                });
                // $(window).resize(function () {
                //     if (this.resizeTO) clearTimeout(this.resizeTO);
                //     this.resizeTO = setTimeout(function () {
                //         $(this).trigger('resizeEnd');
                //     }, 500);
                // });
                // //resize on resizeEnd function
                // $(window).bind('resizeEnd', function () {
                //     this.responsiveHeatmap(this.cal.options);
                // });
            },
            getUser: function() {
              axios.get("api/log")
                .then(response => {
                  this.log = response.data.user;
                }) //Promise
                .catch(error => (console.log(error))) //Gestione errori approssimativa
            },
            setDataset: function () {
                let postData = {
                    minScore: this.filter.min ? this.filter.min : 0,
                    maxScore: this.filter.max ? this.filter.max : 9999999,
                    course: this.filter.course ? this.filter.course : "All"
                };
                axios.post("/api/heatmap", postData)
                    .then(response => {
                        console.log(response.data);
                        if (response.data.errors) {
                            console.log(response.data.errors);
                            return;
                        }
                        this.dataset = response.data.dataset;
                        this.max = response.data.max;
                        this.courses = [{_id: "All"}].concat(response.data.courses);
                        this.loading = false;
                        this.makeHeatmap();
                    }).catch(error => (console.log(error))) //Gestione errori approssimativa
            },
            makeHeatmap: function () {
                if (typeof calendar == "object") {
                    $('#cal-heatmap').html('');
                    calendar = calendar.destroy();
                }
                calendar = new CalHeatMap();
                let width = $(window).width() - 10;
                options.cellSize = (width < 420) ? 35
                                : (width < 730) ? 35
                                : (width < 1400) ? 35
                                : 35;
                let tileNumber = Math.floor((width + options.domainGutter) / (4*options.cellSize + 3*options.cellPadding + options.domainGutter));
                tileNumber = Math.min(Math.max(tileNumber, 1), 7);
                console.log("width:" + width + ", n:" + tileNumber);

                let now = new Date();
                options.data = this.dataset;
                options.legend = this.getLegend();
                options.start = now.setDate(now.getDate() - tileNumber + 1);
                options.range = tileNumber;
                calendar.init(options);
            },
            getLegend: function() {
                if (this.max < 15) {
                    return [1,2,3,4,5,6,7,8,9,10,11,12,13,14];
                }
                let legend = [];
                let n = Math.floor(this.max / 14);
                for (let i = n; i < this.max; i += n) {
                    legend.push(i);
                }
                return legend;
            },
            parser: function(data) {
                var actualData = {};

                return actualData;

            }
        },
        mounted() {
            this.init();
        }
    });

</script>

</html>
