<!DOCTYPE html>
<html lang="it">
<head>

  <title>Home</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/css/home.css">
</head>

<body>
<!-- cookie ads ??? -->
<main>
<div id="app">

  <header>

    <div class="pt-2 pl-5" id="home_logo">
      <button class="p-0" id="home_btn" v-on:click="refresh_home">
        <img class="img-responsive" src="static/images/btn_logo_onhover.png"/>
        <img class="img-responsive" id="site_logo" src="static/images/btn_logo_main.png"/>
      </button>
    </div>
    <div class="text-center">
      <h1 id="banner" class="display-2 font-weight-bold">CAMPUS CESENA CAFÈ</h1>
    </div>
  </header>

  <section>
    <div class="uni-bg">
      <div class="caption"></div>
    </div>
  </section>

  <section class="first_bg_color text-center">
    <div class="container" v-cloak v-if="dataReady">
      <div>
        <h1 id="lives_left" v-bind:class="{some_lives_left: lives > 0, 'no_lives_left': lives <= 0}" class="w-75 py-3 mx-auto">LIVES LEFT: {{lives}}</h1>
      </div>
      <div class="py-3 button_section">
        <button type=""class="btn btn-primary btn-lg main_page_btn" v-on:click="startGame" v-bind:class="{play_btn_no_lives : lives <= 0}"> PLAY </button>
      </div>
    </div>
  </section>

  <section>
    <div class="play-bg">
      <div class="caption"></div>
    </div>
  </section>

  <section class="first_bg_color">
    <div class="container text-center py-3 button_section" v-cloak v-if="dataReady">
      <button class="btn btn-primary btn-lg main_page_btn" v-on:click='goPie'> RANKINGS </button>
    </div>
  </section>

  <section>
    <div class="tickets-bg">
      <div class="caption"></div>
    </div>
  </section>

  <section class="second_bg_color">
    <div class="container text-center py-3 button_section" v-cloak v-if="dataReady">
      <button class="btn btn-primary btn-lg main_page_btn" v-on:click='goTickets'> TICKETS </button>
    </div>
  </section>

  <section>
    <div class="redeem-bg">
      <div class="caption"></div>
    </div>
  </section>

  <section class="first_bg_color" id="redeem_section">
    <div class="container text-center py-3 button_section" v-cloak v-if="dataReady">
      <button class="btn btn-primary btn-lg main_page_btn" v-on:click=''> REDEEM </button>
    </div>
  </section>

  <section class="second_bg_color" id="description">
    <div class="container">
      <p>
        Ciao! Siamo la caffetteria del campus di Cesena, compra da noi!
        <br/>Diventate ciccioni e fate vincere la vostra facoltà.
        <br/>Ne vale la pena trust :D.
      </p>
    </div>
  </section>
</div>
</main>
<footer id="footer" class="first_bg_color">
  <div id="contacts_and_socials">
    <div class="container footer_elem">
      <p>
        <br>
        Via Cesare Pavese, </br>
        Cesena (FC), </br>
        Italia
        </br></br>
        cafecampuscesena@gmail.com
        </br>
        0123456789
      </p>
    </div>
    <div class="container footer_elem">
      </br>
      <div class="social_link">
        <button class="social_btn" onclick="window.open('http://facebook.com','_blank')">
          <img id="go_fb" class="social_img" src="static/images/facebook_logo.png"/>
        </button>
      </div>
      <div class="social_link">
        <button class="social_btn" onclick="window.open('http://twitter.com','_blank')">
          <img id="go_tw" class="social_img" src="static/images/twitter_logo.png"/>
        </button>
      </div>
      <div class="social_link">
        <button class="social_btn" onclick="window.open('http://instagram.com','_blank')">
          <img id="go_ig" class="social_img" src="static/images/instagram_logo.png"/>
        </button>
      </div>
    </div>
  </div>
</footer>

<div class="text-center" v-if="!dataReady">
    <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
    </div>
</div>

</div>
</body>

<!-- TODO da aggiustare perchè con lo zoom basso
non funziona rip e poi in generale è un po' monco
ed è jquery-->
<script>
  $(document).ready(function() {
    var $win = $(window);
    var $stat = $('#description');
    $win.on('scroll', function () {
      var scrollTop = $win.scrollTop();
      $stat.each(function () {
        var $self = $(this);
        var prev=$self.offset();
        //console.log(scrollTop);
        //console.log(prev.top);
        if ((scrollTop - prev.top) > -500) {
          $self.css('opacity', '1').addClass('description_animate');
        } else {
          $self.css('opacity', '0').removeClass('description_animate');
        }
      });
    }).scroll();
  });
</script>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://npmcdn.com/vue-router/dist/vue-router.js"></script>
<script>
var tickets = {
  idTipoTicket: {
    type:'',
    discount:'',
    description:'',
    image:''
  }
};

var app = new Vue({
	el:	"#app",
	data:	{
		lives: 0,
    dataReady: false
	},
	methods: {
        startGame: function(event) {
          if(this.lives > 0) {
            axios.get("api/createGameSession")
                .then(response => {
                    console.log("click on startGame");
                    window.location.href = "/hextris/game/" + response.data;
                })
                .catch(error => console.log(error))
          } else {
              window.location.href = "#redeem_section";
          }
        },
        goPie: function(event) {
          window.location.href = "/pie";
        },
        goTickets: function(event) {
          window.location.href = "/tickets";
        },
        setLives: function() {
            axios.get("api/lives")
                .then(response => {
                    this.lives = response.data;
                    this.dataReady = true;
                })
                .catch(error => (console.log(error))) //Gestione errori approssimativa
        },
        refresh_home: function(event) {
            window.history.go();
        },/*
        go_to_facebook: function() {
            console.log("go to facebook");
            window.open("https://www.facebook.com", "_blank");
        },
        go_to_twitter: function() {
            window.open("https://twitter.com", '_blank');
        },
        go_to_instagram: function() {
            window.open("https://www.instagram.com", '_blank');
        },*/
        init: function(){
          this.setLives();
         },
    },
    mounted(){
      this.init();
    }
});
</script>

</html>
