<!DOCTYPE html>
<html>
<head>
    <title>ASW-Cafeteria Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- favicons -->
    <link rel="apple-touch-icon" sizes="57x57" href="/static/images/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/images/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/images/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/images/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/images/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/images/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/images/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/images/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/static/images/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/images/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicons/favicon-16x16.png">
    <!-- <link rel="manifest" href="/manifest.json"> -->
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- favicons -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://npmcdn.com/vue-router/dist/vue-router.js"></script>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    <link rel="stylesheet" type="text/css" href="/static/css/custom-responsive-style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script type="text/javascript" src="/static/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/static/js/all-plugins.js"></script>
    <script type="text/javascript" src="/static/js/plugin-active.js"></script>
</head>
<body data-spy="scroll" data-target=".main-navigation" data-offset="150">
    <!-- <transition name="fade"> -->
    <div id="app">
        <div class="lds-circle" v-show="!dataReady"><div></div></div>
        <transition name="fade">
            <section id="MainContainer" v-cloak v-show="dataReady">
                <!-- Header starts here -->
                <header id="Header">
                    <nav class="main-navigation">
                        <div class="container clearfix">
                            <div class="site-logo-wrap">
                                <a class="logo" href="#"><img src="/static/images/logo.png" alt="missingLogo"></a>
                            </div>
                            <a href="javascript:void(0)" class="menu-trigger hidden-lg-up"><span>&nbsp;</span></a>
                            <div class="main-menu hidden-md-down">
                                <ul class="menu-list">
                                    <li><a class="nav-link" href="javascript:void(0)" data-target="#HeroBanner">Home</a></li>
                                    <li><a class="nav-link" href="javascript:void(0)" data-target="#Services">How It Works</a>                                </li>
                                    <li><a class="nav-link" href="javascript:void(0)" data-target="#About">About</a></li>
                                    <li><a class="nav-link" href="javascript:void(0)" data-target="#Portfolio">Portfolio</a></li>
                                    <li><a class="nav-link" href="javascript:void(0)" data-target="#ContactUs">Contact</a></li>
                                    <li v-if="isLoggedIn"><a class="nav-link" href="/logout" >Logout</a></li>
                                    <li v-else><a class="nav-link" href="/login" >Login</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="mobile-menu hidden-lg-up">
                            <ul class="mobile-menu-list">
                                <li><a class="nav-link" href="javascript:void(0)" data-target="#HeroBanner">Home</a></li>
                                <li><a class="nav-link" href="javascript:void(0)" data-target="#Services">How It Works</a></li>
                                <li><a class="nav-link" href="javascript:void(0)" data-target="#About">About</a></li>
                                <li><a class="nav-link" href="javascript:void(0)" data-target="#Portfolio">Portfolio</a></li>
                                <li><a class="nav-link" href="javascript:void(0)" data-target="#ContactUs">Contact</a></li>
                                <li v-if="isLoggedIn"><a class="nav-link" href="/logout" >Logout</a></li>
                                <li v-else><a class="nav-link" href="/login" >Login</a></li>
                            </ul>
                        </div>
                    </nav>
                </header>
                <!-- Header ends here -->
                <!-- Banner starts here -->
                <section id="HeroBanner">
                    <div class="hero-content">
                        <div v-if="isLoggedIn">
                            <h1>ASW - Cafeteria</h1>
                            <p>Lives: {{lives}}</p>
                            <!-- <p>We are team of talanted designers making websites with Bootstrap</p> -->
                            <a href="#" class="hero-cta" v-show="lives > 0" v-on:click="startGame">Play</a>
                            <a href="#redeem" class="hero-cta" v-else>Redeem</a>
                        </div>
                        <div v-if="!isLoggedIn">
                            <h1>ASW - Cafeteria</h1>
                            <!-- <p>We are team of talanted designers making websites with Bootstrap</p> -->
                            <a href="/login" class="hero-cta">Login to Play</a>
                        </div>
                    </div>
                </section>
                <!-- Banner ends here -->
                <!-- Services section starts here -->
                <section id="Services">
                    <div class="container">
                        <div class="block-heading">
                            <h2>How does it work?</h2>
                        </div>
                        <div class="services-wrapper">
                            <div class="each-service each-service-red">
                                <div class="service-icon service-red"><i class="fa fa-heart" aria-hidden="true"></i></div>
                                <h5 class="service-title">Get Lives</h5>
                                <p class="service-description">Make purchases at the cafeteria and be rewarded with lives <i class="fa fa-heart" aria-hidden="true"></i>.</p>
                            </div>
                            <div class="each-service each-service-green">
                                <div class="service-icon service-green"><i class="fa fa-gamepad" aria-hidden="true"></i></div>
                                <h5 class="service-title">1 Life = 1 Game</h5>
                                <p class="service-description">Spends lives to play the game. Careful, once started you can't get the life back <i class="fa fa-exclamation" aria-hidden="true"></i>.</p>
                            </div>
                            <div class="each-service each-service-blue">
                                <div class="service-icon service-blue"><i class="fa fa-book" aria-hidden="true"></i></div>
                                <h5 class="service-title">How-To-Play</h5>
                                <p class="service-description">The game is easy: match 3+ blocks on the hexagon. You'll know what to do <i class="fa fa-lightbulb-o" aria-hidden="true"></i>.</p>
                            </div>
                            <div class="each-service each-service-orange">
                                <div class="service-icon service-orange"><i class="fa fa-shopping-bag" aria-hidden="true"></i></div>
                                <h5 class="service-title">Win discounts...</h5>
                                <p class="service-description">... If you score a lot points. It also helps being lucky <i class="fa fa-gift" aria-hidden="true"></i>.</p>
                            </div>
                            <div class="each-service each-service-pink">
                                <div class="service-icon service-pink"><i class="fa fa-signal" aria-hidden="true"></i></div>
                                <h5 class="service-title">Rankings</h5>
                                <p class="service-description">Score as many point as possibile to help your team in <a href="/bar">these meaningless rankings </a><i class="fa fa-bar-chart" aria-hidden="true"></i>.</p>
                            </div>
                            <div class="each-service each-service-purple">
                                <div class="service-icon service-purple"><i class="fa fa-ticket" aria-hidden="true"></i></div>
                                <h5 class="service-title">Tickets</h5>
                                <p class="service-description">Don't forget the discount tickets <a href="/tickets">on your personal page</a><i class="fa fa-ticket" aria-hidden="true"></i>.</p>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Services section ends here -->
                <!-- About Us section starts here -->
                <section id="About">
                    <div class="container">
                        <div class="about-wrapper">
                            <h2>About Us</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut
                                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                ullamco
                                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                                in
                                voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                                cupidatat
                                non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                    </div>
                </section>
                <!-- About Us section ends here -->
                <!-- Portfolio section starts here -->
                <section id="Portfolio">
                    <div class="container">
                        <div class="block-heading">
                            <h2>Portfolio</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        </div>
                        <div class="portfolio-wrapper clearfix">
                            <a class="each-portfolio" data-fancybox="gallery" href="/static/images/p-one.jpg">
                                <img src="/static/images/p-one.jpg" alt="p-one">
                                <div class="hover-cont-wrap">
                                    <div class="hover-cont-block">
                                        <h5 class="p-title">Title</h5>
                                        <div class="p-desc">
                                            <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                                            <div class="icon-div"><i class="fa fa-search-plus" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a class="each-portfolio" data-fancybox="gallery" href="/static/images/p-two.jpg">
                                <img src="/static/images/p-two.jpg" alt="p-one">
                                <div class="hover-cont-wrap">
                                    <div class="hover-cont-block">
                                        <h5 class="p-title">Title</h5>
                                        <div class="p-desc">
                                            <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                                            <div class="icon-div"><i class="fa fa-search-plus" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a class="each-portfolio" data-fancybox="gallery" href="/static/images/p-three.jpg">
                                <img src="/static/images/p-three.jpg" alt="p-one">
                                <div class="hover-cont-wrap">
                                    <div class="hover-cont-block">
                                        <h5 class="p-title">Title</h5>
                                        <div class="p-desc">
                                            <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                                            <div class="icon-div"><i class="fa fa-search-plus" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a class="each-portfolio" data-fancybox="gallery" href="/static/images/p-four.jpg">
                                <img src="/static/images/p-four.jpg" alt="p-one">
                                <div class="hover-cont-wrap">
                                    <div class="hover-cont-block">
                                        <h5 class="p-title">Title</h5>
                                        <div class="p-desc">
                                            <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                                            <div class="icon-div"><i class="fa fa-search-plus" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a class="each-portfolio" data-fancybox="gallery" href="/static/images/p-five.jpg">
                                <img src="/static/images/p-five.jpg" alt="p-one">
                                <div class="hover-cont-wrap">
                                    <div class="hover-cont-block">
                                        <h5 class="p-title">Title</h5>
                                        <div class="p-desc">
                                            <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                                            <div class="icon-div"><i class="fa fa-search-plus" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a class="each-portfolio" data-fancybox="gallery" href="/static/images/p-six.jpg">
                                <img src="/static/images/p-six.jpg" alt="p-one">
                                <div class="hover-cont-wrap">
                                    <div class="hover-cont-block">
                                        <h5 class="p-title">Title</h5>
                                        <div class="p-desc">
                                            <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                                            <div class="icon-div"><i class="fa fa-search-plus" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a class="each-portfolio" data-fancybox="gallery" href="/static/images/p-one.jpg">
                                <img src="/static/images/p-one.jpg" alt="p-one">
                                <div class="hover-cont-wrap">
                                    <div class="hover-cont-block">
                                        <h5 class="p-title">Title</h5>
                                        <div class="p-desc">
                                            <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                                            <div class="icon-div"><i class="fa fa-search-plus" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a class="each-portfolio" data-fancybox="gallery" href="/static/images/p-two.jpg">
                                <img src="/static/images/p-two.jpg" alt="p-one">
                                <div class="hover-cont-wrap">
                                    <div class="hover-cont-block">
                                        <h5 class="p-title">Title</h5>
                                        <div class="p-desc">
                                            <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                                            <div class="icon-div"><i class="fa fa-search-plus" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a class="each-portfolio" data-fancybox="gallery" href="/static/images/p-three.jpg">
                                <img src="/static/images/p-three.jpg" alt="p-one">
                                <div class="hover-cont-wrap">
                                    <div class="hover-cont-block">
                                        <h5 class="p-title">Title</h5>
                                        <div class="p-desc">
                                            <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                                            <div class="icon-div"><i class="fa fa-search-plus" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </section>
                <!-- Portfolio section ends here -->
                <section id="Testimonial">
                    <div class="testimonial-wrap">
                        <div class="container">
                            <div class="block-heading">
                                <h2>What Clients Say About Us</h2>
                            </div>
                            <ul class="testimonial-slider">
                                <li>" I would like to thank Click and the team for the fantastic work<br> on content
                                    writing
                                    for
                                    my site. "</li>
                                <li>" I'd say that the team is excellent and it is some of the best service<br> I have
                                    received
                                    both online and offline in a long time. "</li>
                                <li>" It's been great working with you. The content is also great. I can certainly
                                    recommend
                                    your<br> services to others as cost effective services. "</li>
                            </ul>
                        </div>
                    </div>
                </section>
                <!-- Contact us section starts here -->
                <section id="ContactUs">
                    <div class="container contact-container">
                        <h3 class="contact-title">Get In Touch</h3>
                        <div class="contact-outer-wrapper">
                            <div class="address-block">
                                <p class="add-title">Contact Details</p>
                                <!-- <div class="c-detail">
                                    <span class="c-icon"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                                    <span class="c-info">12 Avenue center, st. marks road, CA</span>
                                </div>
                                <div class="c-detail">
                                    <span class="c-icon"><i class="fa fa-phone" aria-hidden="true"></i></span> <span
                                        class="c-info">+41982399090000</span>
                                </div>
                                <div class="c-detail">
                                    <span class="c-icon"><i class="fa fa-envelope" aria-hidden="true"></i></span> <span
                                        class="c-info">click@gmail.com</span>
                                </div> -->
                                <div class="c-detail">
                                        <span class="c-icon"><i class="fa fa-envelope" aria-hidden="true"></i></span> <span class="c-info">maicol.forti@studio.unibo.it</span>
                                </div>
                                <div class="c-detail">
                                    <span class="c-icon"><i class="fa fa-envelope" aria-hidden="true"></i></span> <span class="c-info">christian.serra2@studio.unibo.it</span>
                                </div>
                            </div>
                            <div class="form-wrap">
                                <p class="add-title">Send Us Message</p>
                                <form>
                                    <div class="fname floating-label">
                                        <input type="text" class="floating-input" name="full name"
                                            id="full-name-field" />
                                        <label for="full-name-field">Full Name</label>
                                    </div>
                                    <div class="email floating-label">
                                        <input type="email" class="floating-input" name="email" id="mail-field" />
                                        <label for="mail-field">Email</label>
                                    </div>
                                    <div class="contact floating-label">
                                        <input type="tel" class="floating-input" name="contact" id="contact-us-field" />
                                        <label for="contact-us-field">Contact</label>
                                    </div>
                                    <div class="company floating-label">
                                        <input type="text" class="floating-input" name="company" id="company-field" />
                                        <label for="company-field">Company</label>
                                    </div>
                                    <div class="user-msg floating-label">
                                        <textarea class="floating-input" name="user message"
                                            id="user-msg-field"></textarea>
                                        <label for="user-msg-field" class="msg-label">Your Message</label>
                                    </div>
                                    <div class="submit-btn">
                                        <button type="submit">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Contact us section ends here -->
                <!-- Footer section starts here -->
                <footer id="Footer">
                    <div class="container">
                        <div class="social-share">
                            <ul>
                                <!-- <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li> -->
                                <li><a href="https://www.facebook.com/volumecampus/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <!-- <li><a href="#"><i class="fa fa-globe" aria-hidden="true"></i></a></li> -->
                                <li><a href="https://www.instagram.com/volume_campus/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                <li><a href="http://www.aidoru.org/"><i class="fa fa-globe" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                        <div class="footer-logo-wrap">
                                By Maicol Forti, (Davide Bondi) and Christian Serra, template from <a href="https://www.position2.com/">Position2</a>
                        </div>
                    </div>
                </footer>
                <!-- Footer section ends here -->
            </section>
        </transition>
    </div>
</body>

<script>
    var app = new Vue({
        el: "#app",
        data: {
            hscores: { first: 0, second: 0, third: 0 },
            rankings: {},
            lives: 0,
            isLoggedIn: false,
            dataReady: false,
        },
        methods: {
            startGame: function () {
                console.log("click on startGame");
                if (this.lives > 0) {
                    axios.get("/api/createGameSession")
                        .then(response => {
                            window.location.href = response.data
                                ? ("/hextris/game/" + response.data)
                                : "#redeem";
                        })
                        .catch(error => {
                            console.log(error);
                            if (error == 503) {
                                window.location.href = "/login";
                            }
                        });
                } else {
                    window.location.href = "#redeem";
                }
            },
            loadHighscoresAndLives: async function () {
                try {
                    const response = await axios.get("/api/playedGames");
                    console.log(response);
                    this.lives = response.data[0].lives ? response.data[0].lives : 0;
                    const scores = response.data[0].games;
                    this.hscores.first = scores[0] ? scores[0].score : 0;
                    this.hscores.second = scores[1] ? scores[1].score : 0;
                    this.hscores.third = scores[2] ? scores[2].score : 0;
                } catch (error) {
                    console.log(error);
                }
            },
            loadData: async function () {
                try {
                    const response = await axios.get("/api/homeData");
                    console.log(response);
                    this.isLoggedIn = response.data.isLoggedIn;
                    this.rankings = response.data.rankings;
                } catch (error) {
                    console.log(error);
                }
            }
        },
        async mounted() {
            await this.loadData();
            if (this.isLoggedIn) {
                await this.loadHighscoresAndLives();
            }
            setTimeout(() => this.dataReady = true, 1500);

        }
    });
</script>

</html>