<!DOCTYPE html>
<html lang="it">
<meta charset="utf-8">
<head>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/reset.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/css/pieChart.css">
  <script src="https://d3js.org/d3.v3.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</head>
<title>Pie Chart</title>
<body>
  <div id="app">
    <div class="collapse collapser" id="navbarToggleExternalContent">
      <div class="p-4">
        <p class="titleCollapsePie">Use these icons to navigate the site: </p>
        <a href="/admin/userTickets" class="btn btn-default ticketButton"><i class="fa fa-th-list ticketIcon"></i></a>
        <a href="/admin/qr" class="btn btn-default qrButton"><i class="fa fa-qrcode qrIcon"></i></a>
      </div>
    </div>
    <nav class="navbar">
      <a class="navbar-brand" href="/admin/userTickets">Pie Tickets</a>
      <button class="navbar-toggler order-4 ml-auto" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-reorder"></i>
      </button>
    </nav>
    <h1 v-cloak>{{title}}</h1>
    <div class="text-center" v-if="loading">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading data...</span>
      </div>
    </div>
    <div class="container d-flex justify-content-center buttonContainer">
      <button class="btn btn-outline-primary btn-sm align-self-center" @click="setUserTickets()"> User Tickets </button>
      <button class="btn btn-outline-secondary btn-sm align-self-center" @click="setUserTicketsTotal()"> Total Tickets </button>
    </div>
    <div class="container d-flex justify-content-center buttonContainer">
      <select v-cloak name="utentiSelect" class="utenti" id="utenti-find" v-model="utenteChoice">
        <option v-for="utente in utentiSelect" v-bind:value="utente._id" :key="utente._id">{{ utente._id }}</option>
      </select>
      <button @click="searchUser()"> <i class="fa fa-search"></i> </button>
    </div>
    <div id="chart"></div>
  </div>
</body>


<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://npmcdn.com/vue-router/dist/vue-router.js"></script>
<script>

var app = new Vue({
	el:	"#app",
	data:	{
    datasetExampleNotUsed: [
          {label:'Monday',count:379130},
          {label:'Tuesday',count:424923},
          {label:'Wednesday',count:430728},
              {label:'Thursday',count:432138},
                 {label:'Friday',count:428295},
                     {label:'Saturday',count:368239},
                         {label:'Sunday',count:282701}
      ],
    dataset: [],
    utenti: [],
    loading: false,
    title: 'Tickets owned by users',
    utentiSelect: [],
    utenteChoice: '',
    actual: true
	},
	methods: {
		init: function(){
        this.loading = true;
        this.setUserFinder();
        this.setUserTickets();
		},
    searchUser: function(){
      if (this.utenteChoice != ''){
        if (this.actual == true){
          this.setSingleUserTickets();
        } else {
          this.setSingleUserTicketsTotal();
        }
      } else {
        alert("Select an user");
      }
    },
    setUserFinder: function(){
      axios.get("/api/utenti")
				.then(response => (this.utentiSelect = response.data)) //Promise
				.catch(error => (console.log(error))) //Gestione errori approssimativa
    },
    setSingleUserTickets: function() {
      document.getElementById('chart').innerHTML = "";
      this.title = "Tickets owned by the user "+this.utenteChoice;
      this.loading = true;
      this.setSingleUserDataset();
    },
    setSingleUserTicketsTotal: function() {
      document.getElementById('chart').innerHTML = "";
      this.title = "Total tickets of the user "+this.utenteChoice;
      this.loading = true;
      this.setSingleUserTotalDataset();
    },
    setUserTicketsTotal: function(){
      this.actual = false;
      //Crea il pie chart dei ticket complessivi
      document.getElementById('chart').innerHTML = "";
      this.title = 'Total tickets of all users';
      this.loading = true;
      axios.get("/api/tickets")
      	.then(response => {
          this.dataset = [];
          var tickets = response.data;
          for (i = 0; i<tickets.length; i++){
            if (this.dataset.findIndex(item => item.label == tickets[i].type+" "+tickets[i].discount+"%")!=-1) {
              this.dataset[this.dataset.findIndex(item => item.label == (tickets[i].type+" "+tickets[i].discount+"%"))].count += 1;
            } else {
              this.dataset.push({label: tickets[i].type+" "+tickets[i].discount+"%", count: 1});
            }
          }
          this.loading = false;
          this.makePieChart();
        }).catch(error => (console.log(error))) //Gestione errori approssimativa
    },
    setUserTickets: function(){
      this.actual = true;
      //Crea il pie chart dei ticket attualmente in possesso agli utenti
      document.getElementById('chart').innerHTML = "";
      this.title = 'Tickets owned by users';
      this.loading = true;
      axios.get("/api/admin/userTickets")
      	.then(response => {
          this.dataset = [];
          var tickets = response.data;
          for (i = 0; i<tickets.length; i++){
            if (this.dataset.findIndex(item => item.label == tickets[i].idTipoTicket.type+" "+tickets[i].idTipoTicket.discount+"%")!=-1) {
              this.dataset[this.dataset.findIndex(item => item.label == (tickets[i].idTipoTicket.type+" "+tickets[i].idTipoTicket.discount+"%"))].count += 1;
            } else {
              this.dataset.push({label: tickets[i].idTipoTicket.type+" "+tickets[i].idTipoTicket.discount+"%", count: 1});
            }
          }
          this.loading = false;
          this.makePieChart();
        }).catch(error => (console.log(error))) //Gestione errori approssimativa
    },
    setSingleUserTotalDataset: function() {
      axios.get("/api/tickets")
      	.then(response => {
          this.dataset = [];
          var tickets = response.data;
          tickets = tickets.filter(this.filterByUserTotal);
          for (i = 0; i<tickets.length; i++){
            if (this.dataset.findIndex(item => item.label == tickets[i].type+" "+tickets[i].discount+"%")!=-1) {
              this.dataset[this.dataset.findIndex(item => item.label == (tickets[i].type+" "+tickets[i].discount+"%"))].count += 1;
            } else {
              this.dataset.push({label: tickets[i].type+" "+tickets[i].discount+"%", count: 1});
            }
          }
          this.loading = false;
          this.makePieChart();
        }).catch(error => (console.log(error))) //Gestione errori approssimativa
    },
    setSingleUserDataset: function() {
      axios.get("/api/admin/userTickets")
      	.then(response => {
          this.dataset = [];
          var tickets = response.data;
          tickets = tickets.filter(this.filterByUser);
          for (i = 0; i<tickets.length; i++){
            if (this.dataset.findIndex(item => item.label == tickets[i].idTipoTicket.type+" "+tickets[i].idTipoTicket.discount+"%")!=-1) {
              this.dataset[this.dataset.findIndex(item => item.label == (tickets[i].idTipoTicket.type+" "+tickets[i].idTipoTicket.discount+"%"))].count += 1;
            } else {
              this.dataset.push({label: tickets[i].idTipoTicket.type+" "+tickets[i].idTipoTicket.discount+"%", count: 1});
            }
          }
          this.loading = false;
          this.makePieChart();
        }).catch(error => (console.log(error))) //Gestione errori approssimativa
    },
    filterByUser: function(value){
      return value.idUtente == this.utenteChoice;
    },
    filterByUserTotal: function(value){
      return value.userid == this.utenteChoice;
    },
    makePieChart: function(){

              var dataset = this.dataset;

              var width = 370;
              var height = 360;
              var radius = Math.min(width, height) / 2;
              var donutWidth = 75;
              var legendRectSize = 40;
              var legendSpacing = 15;

              var color = d3.scale.category20();

              var svg = d3.select('#chart')
                  .append('svg')
                  .attr('width', width)
                  .attr('height', height*2)
                  .call(responsivefy)
                  .append('g')
                  .attr('transform', 'translate(' + (width / 2) +
                  ',' + (height / 2) + ')');

              var arc = d3.svg.arc()
                  .innerRadius(radius - donutWidth)
                  .outerRadius(radius);




              var pie = d3.layout.pie()
                  .value(function (d) {
                  return d.count;
              })
                  .sort(null);


              var tooltip = d3.select('#chart')
                  .append('div')
                  .attr('class', 'tooltipClass');

              tooltip.append('div')
                  .attr('class', 'label');

              tooltip.append('div')
                  .attr('class', 'count');

              tooltip.append('div')
                  .attr('class', 'percent');

              dataset.forEach(function (d) {
                  d.count = +d.count;
                  d.enabled = true; // NEW
              });

                  var path = svg.selectAll('path')
                      .data(pie(dataset))
                      .enter()
                      .append('path')
                      .attr('d', arc)
                      .attr('fill', function (d, i) {
                        return color(d.data.label);
                      })

                  .each(function (d) {
                      this._current = d;
                  });

                  path.on('mouseover', function (d) {
                      var total = d3.sum(dataset.map(function (d) {
                          return (d.enabled) ? d.count : 0; // UPDATED
                      }));
                      var percent = Math.round(1000 * d.data.count / total) / 10;
                      tooltip.select('.label').html("<b>Tipo</b>: "+d.data.label);
                      tooltip.select('.count').html("<b>Tot</b>: "+d.data.count);
                      tooltip.select('.percent').html("<b>%</b>: "+percent + '%');
                      tooltip.style('display', 'block')
                      tooltip.style('min-width', '150px');
                  });

                  path.on('mouseout', function () {
                      tooltip.style('display', 'none');
                  });

                  var legend = svg.selectAll('.legend')
                      .data(color.domain())
                      .enter()
                      .append('g')
                      .attr('class', 'legend')
                      .attr('transform', function (d, i) {
                      var height = legendRectSize + legendSpacing;
                      var offset = height * color.domain().length / 2;
                      var horz = -2 * legendRectSize;
                      var vert = i * height - offset;
                      return 'translate(' + (horz-20) + ',' + (vert+330) + ')';
                  });

                  legend.append('rect')
                      .attr('width', legendRectSize)
                      .attr('height', legendRectSize)
                      .style('fill', color)
                      .style('stroke', "black")
                  .on('click', function (label) { // NEW
                      var rect = d3.select(this); // NEW
                      var enabled = true; // NEW
                      var totalEnabled = d3.sum(dataset.map(function (d) { // NEW
                          return (d.enabled) ? 1 : 0; // NEW
                      })); // NEW

                      if (rect.attr('class') === 'disabled') { // NEW
                          rect.attr('class', ''); // NEW
                      } else { // NEW
                          if (totalEnabled < 2) return; // NEW
                          rect.attr('class', 'disabled'); // NEW
                          enabled = false; // NEW
                      } // NEW

                      pie.value(function (d) { // NEW
                          if (d.label === label) d.enabled = enabled; // NEW
                          return (d.enabled) ? d.count : 0; // NEW
                      }); // NEW

                      path = path.data(pie(dataset)); // NEW

                      path.transition() // NEW
                      .duration(750) // NEW
                      .attrTween('d', function (d) { // NEW
                          var interpolate = d3.interpolate(this._current, d); // NEW
                          this._current = interpolate(0); // NEW
                          return function (t) { // NEW
                              return arc(interpolate(t)); // NEW
                          }; // NEW
                      }); // NEW
                  }); // NEW

                  legend.append('text')
                      .attr('x', legendRectSize + legendSpacing)
                      .attr('y', legendRectSize - legendSpacing)
                      .style("font-size", "110%")
                      .style("font-weight", "bold")
                      .text(function (d) {
                      return d;
                  });


      function responsivefy(svg) {
      // get container + svg aspect ratio
      var container = d3.select(svg.node().parentNode),
          width = parseInt(svg.style("width")),
          height = parseInt(svg.style("height")),
          aspect = width / height;

      // add viewBox and preserveAspectRatio properties,
      // and call resize so that svg resizes on inital page load
      svg.attr("viewBox", "0 0 " + width + " " + height)
          .attr("perserveAspectRatio", "xMinYMid")
          .call(resize);

      // to register multiple listeners for same event type,
      // you need to add namespace, i.e., 'click.foo'
      // necessary if you call invoke this function for multiple svgs
      // api docs: https://github.com/mbostock/d3/wiki/Selections#on
      d3.select(window).on("resize." + container.attr("id"), resize);

      // get width of container and resize svg to fit it
      function resize() {
          var targetWidth = parseInt(container.style("width"));
          svg.attr("width", targetWidth);
          svg.attr("height", Math.round(targetWidth / aspect));
      }
    }
  }
	},
	mounted(){
		this.init();
	}
});

</script>

</html>
