<!DOCTYPE html>
<html lang="it">
<head>

  <title>Tickets Admin</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/reset.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/css/ticket.css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<body class="bodyAdmin">
<div id="app">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <p class="titleCollapseAdmin">Usa le icone sottostanti per navigare i grafici: PieChart</p>
      <a href="/admin/pie" class="btn btn-default pieButton"><i class="fa fa-pie-chart pieIcon"></i></a>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="/admin/userTickets">Tickets</a>
    <input class="form-control order-2 inputSearch ml-auto" id="inputTicketID" placeholder="Insert ticket code" v-model="ticketChoice">
    <button class="btn buttonSubmit order-3" id="buttonSubmitID" v-on:click.prevent="submitTicket()"><i class="fa fa-arrow-circle-right iconArrow"></i></button>
    <button class="navbar-toggler order-4 ml-auto" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa fa-reorder"></i>
    </button>
  </nav>
  <div v-cloak v-if="dataReady">
    <div class='container' id ='ticketList'>
      <div class='row'>
    	   <div class='col-md-6' v-for="item in tickets">
    			   <div class='media'>
    					  <img class='align-self-center mr-3 imageClass' v-bind:src=item.idTipoTicket.image v-bind:alt=item.idTipoTicket.type @click=showAlert(item)>
              <div class='media-body'>
    					       <h5 class='mt-0'>
    						             {{item.idTipoTicket.type}} del {{item.idTipoTicket.discount}}% per l'utente: <b>{{item.idUtente}}</b>
    						     </h5>
    					       <p class="mb-0">
                       {{item.idTipoTicket.description}} </br>
                     </p>
                     <div class ='media-bottom mt-2 mb-2'>
                        <button type="button" class="btn btn-outline-primary btn-sm align-self-center" data-toggle="modal" data-target=".bd-example-modal-sm" @click="showAlert(item)">Get Code</button>
                    </div>
    					</div>
    				</div>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center" v-if="!dataReady">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  <div id="myModal" v-if="modalVisible" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="mySmallModalLabel">Use it to scan a QR</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="hideModal()">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <p class="error">{{ error }}</p>
          <p class="decode-result">Last result: <b>{{ result }}</b></p>
          <div class="text-center" v-if="loading">
            <div class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
          <qrcode-stream @decode="onDecode" @init="onInit"/>
        </div>
      </div>
    </div>
  </div>

  <button class="float" data-toggle="modal" data-target=".bd-example-modal-sm" @click="showModal()">
    <i class="fa fa-qrcode my-float"></i>
  </button>
</div>
</body>



<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://npmcdn.com/vue-router/dist/vue-router.js"></script>

<!-- Download those from: github.com/gruhn/vue-qrcode-reader/dist -->
<script src="https://unpkg.com/vue-qrcode-reader@1.3.1/dist/vue-qrcode-reader.browser.js"></script>
<link rel="stylesheet" href="https://unpkg.com/vue-qrcode-reader@1.3.1/dist/vue-qrcode-reader.css">
<script>

Vue.use(VueQrcodeReader)

var tickets = {
  _id:'',
  idUtente:'',
  idTipoTicket: {
    type:'',
    discount:'',
    description:'',
    image:''
  }
};


var app = new Vue({
	el:	"#app",
	data:	{
		tickets: tickets,
    dataReady: false,
    ticketChoice: '',
    error: '',
    result: '',
    modalVisible: false,
    loading: false
	},
	methods: {
    onDecode (result) {
      this.result = result
      this.ticketChoice = result;
    },

    async onInit (promise) {
      try {
        console.log("INIT");
        this.loading = true;
        await promise
      } catch (error) {
        if (error.name === 'NotAllowedError') {
          this.error = "ERROR: you need to grant camera access permisson"
        } else if (error.name === 'NotFoundError') {
          this.error = "ERROR: no camera on this device"
        } else if (error.name === 'NotSupportedError') {
          this.error = "ERROR: secure context required (HTTPS, localhost)"
        } else if (error.name === 'NotReadableError') {
          this.error = "ERROR: is the camera already in use?"
        } else if (error.name === 'OverconstrainedError') {
          this.error = "ERROR: installed cameras are not suitable"
        } else if (error.name === 'StreamApiNotSupportedError') {
          this.error = "ERROR: Stream API is not supported in this browser or SSL error"
        }
      } finally {
        this.loading = false;
      }
    },
    showModal: function() {
      this.modalVisible = true;
    },
    hideModal: function() {
      this.modalVisible = false;
    },
    showAlert: function(item){
      if(confirm("Vuoi impostare nell'input il token dell'utente "+item.idTipoTicket.type+"' per fargli ottenere uno sconto del "+item.idTipoTicket.discount+"% ?")) {
        this.ticketChoice = item._id;
      }
    },
    deleteTicket: function(){
			axios.delete("/api/userTicketsTotal/"+this.ticketChoice)
				.then(response => {
          if (response.data != null && response.data._id != null){
            alert("Hai eliminato: "+response.data._id);
  					this.tickets.splice(this.tickets.findIndex(item => item._id == this.ticketChoice), 1); //Quale tipo di elemento con find, quanti tipi
            this.ticketChoice = '';
          } else {
            alert("Codice errato");
          }
				})
        .catch(error => console.log(error));
		},
		listTicket: function(){
			axios.get("/api/admin/userTickets")
				.then(response => {this.tickets = response.data; this.dataReady = true}) //Promise
				.catch(error => (console.log(error))) //Gestione errori approssimativa
		},
    submitTicket: function() {
      if (this.ticketChoice != '') {
          this.deleteTicket();
      } else {
        alert("Please enter a code!");
      }
    },
    setEnterKey: function() {
      document.getElementById("inputTicketID").addEventListener("keyup", function(event) {
        if (event.keyCode === 13) {
          // Cancel the default action, if needed
          event.preventDefault();
          // Trigger the button element with a click
          document.getElementById("buttonSubmitID").click();
        }
      });
    },
		init: function(){
			this.listTicket();
      this.setEnterKey();
		}
	},
	mounted(){
		this.init();
	}
});

</script>

</html>
