html {
  background-color: #1e1e1e;
  color: white;
  scroll-behavior: smooth;
}

header {
  height: 280px;
}

body, footer {
  background-color: #0a325a;
  margin: 0 auto;
  color: white;
  font-family: Georgia, serif;
}

body {
  background: linear-gradient(135deg, #0a325a, #325a82);
  background-size: 400% 400%;
  -webkit-animation: backgroundAnimation 8s ease infinite;
  -moz-animation: backgroundAnimation 8s ease infinite;
  animation: backgroundAnimation 8s ease infinite;
}

@-webkit-keyframes backgroundAnimation {
  0% {
    background-position: 0% 2%;
  }
  50% {
    background-position: 100% 99%;
  }
  100% {
    background-position: 0% 2%;
  }
}
@keyframes backgroundAnimation {
  0% {
    background-position: 0% 2%;
  }
  50% {
    background-position: 100% 99%;
  }
  100% {
    background-position: 0% 2%;
  }
}
#home_logo {
  float: left;
  width: 250px;
}

#home_btn {
  border: none;
}
#home_btn img {
  position: absolute;
  border-radius: 50%;
  -webkit-transition: opacity 0.75s ease-in-out;
  -moz-transition: opacity 0.75s ease-in-out;
  -o-transition: opacity 0.75s ease-in-out;
  transition: opacity 0.75s ease-in-out;
}

#site_logo:hover {
  opacity: 0;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  color: #000;
}

.uni-bg, .play-bg, .rankings-bg, .tickets-bg, .redeem-bg {
  position: relative;
  min-height: 180px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.uni-bg {
  background-image: url("../images/uni_background.png");
}

.play-bg {
  background-image: url("../images/play_background.png");
}

.rankings-bg {
  background-image: url("../images/rankings_background.png");
}

.tickets-bg {
  background-image: url("../images/tickets_background.png");
}

.redeem-bg {
  background-image: url("../images/redeem_background.png");
}

#description {
  position: relative;
}

.description_animate {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-name: description_animation;
  animation-name: description_animation;
}

@-webkit-keyframes description_animation {
  0% {
    left: 0px;
    top: 180px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}
@keyframes description_animation {
  0% {
    left: 0px;
    top: 180px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}
#lives_left {
  font-size: 60px;
  border-style: solid;
  border-width: 20px;
  -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

.some_lives_left {
  -webkit-animation-name: some_lives_left;
  animation-name: some_lives_left;
}

.no_lives_left {
  -webkit-animation-name: no_lives_left;
  animation-name: no_lives_left;
}

@-webkit-keyframes some_lives_left {
  0% {
    border-color: #325a82;
  }
  100% {
    border-color: #008c00;
  }
}
@keyframes some_lives_left {
  0% {
    border-color: #325a82;
  }
  100% {
    border-color: #008c00;
  }
}
@-webkit-keyframes no_lives_left {
  0% {
    border-color: #325a82;
  }
  100% {
    border-color: #aa0000;
  }
}
@keyframes no_lives_left {
  0% {
    border-color: #325a82;
  }
  100% {
    border-color: #aa0000;
  }
}
.btn_container button {
  width: 75%;
  height: 150px;
}

.main_page_btn {
  font-size: 60px;
  background-color: #FF6C00;
}
.main_page_btn:hover {
  background-color: #FFae00;
}

.play_btn_no_lives:hover {
  background-color: #555555;
}

footer {
  width: 100%;
  float: left;
}

.footer_elem {
  text-align: center;
  width: 50%;
  float: left;
}

.social_link {
  text-align: left;
  width: 140px;
  height: 150px;
  float: left;
  border-radius: 30%;
}
.social_link:hover {
  background-color: #008c00;
}

.social_btn {
  padding: 0;
  border: none;
  margin-top: 20px;
  margin-left: 20px;
  margin-top: 24px;
}
.social_btn img {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 30%;
}

@media (min-width: 1601px) and (max-width: 5000px) {
  body, footer {
    width: 1606px !important;
  }
}
@media (min-width: 830px) and (max-width: 1170px) {
  body, footer {
    width: 750px !important;
  }
}
@media screen and (max-width: 1170px) {
  #home_logo {
    display: none !important;
  }

  header {
    height: 200px;
  }

  #banner {
    font-size: 50px;
  }

  #lives_left {
    font-size: 30px;
  }

  .main_page_btn {
    font-size: 30px !important;
  }
}

/*# sourceMappingURL=home.css.map */
