.media{
	margin: 10px;
	box-shadow: 5px 10px 8px #888888;
	background-color: #faf9f5;
}

.imageClass{
	width: 120px;
	min-height: 110px;
	margin: 2px;
}

#ticketList{
	padding-top: 5%;
}

@media (min-width: 768px ){
	.mt-0{
		font-size: 100%;
	}
	.mb-0{
		font-size: 80%;
	}
}


@media (max-width: 768px) {
	.mt-0{
		font-size: 100%;
	}
	.mb-0{
		font-size: 80%;
	}
}

[v-cloak] { display: none; }

.text-center{
	position: absolute;
  top: 50%;
  left: 50%;
	margin: auto;
}


body{
		margin-bottom:50px;
}

footer{
	overflow: hidden;
  background-color: #333;
  position: fixed;
  bottom: 0;
	height: 50px;
  width: 100%;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:30px;
	right:30px;
	background: #343a40;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.float:focus{
	outline-style: none;
}

.my-float{
	font-size: 35px;
	margin-top:3px;
}

.inputSearch{
	width: 150px;
}

.iconArrow{
	font-size: 30px;
}

.buttonSubmit, .buttonSearch{
	color: white;
	font-weight: bold;
}

.bodyAdmin{
	margin-bottom: 100px;
}

.pieButton, .ticketButton {
  color:white;
}

.pieIcon, .ticketIcon{
  font-size: 36px;
}

.titleCollapseAdmin{
  color: white;
  font-size: 130%;
}
