/* Cal-HeatMap CSS */

// $colorScale:  #fff7f3 , #fde0dd , #fcc5c0 , #fa9fb5 , #f768a1 , #dd3497 , #ae017e , #7a0177 , #49006a ;
$colorScale: #92d1d1,
#81c5d8,
#71badd,
#62aedf,
#55a2df,
#4a97dc,
#418bd7,
#3a80d0,
#3575c7,
#336abd,
#325fb0,
#3255a1,
#334b91,
#34427f,
#33396b;


.cal-heatmap-container {
    display: block;
    margin-left: auto;
    margin-right: auto;

    .graph {
        font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
    }

    .graph-label {
        fill: #33396b;
        font-size: 15px;
        font-weight: bolder;
    }

    .graph,
    .graph-legend rect {
        shape-rendering: crispedges;
    }

    .graph-rect {
        fill: #d8d8d8;
    }

    .graph-subdomain-group rect:hover {
        stroke: #000;
        stroke-width: 1px;
    }

    .subdomain-text {
        font-size: 10px;
        fill: #fff;
        pointer-events: none;
    }

    .hover_cursor:hover {
        cursor: pointer;
    }

    .qi {
        background-color: #999;
        fill: #999;
    }

    .q1 {
        background-color: #dae289;
        fill: #dae289;
    }

    .q2 {
        background-color: #cedb9c;
        fill: #9cc069;
    }

    .q3 {
        background-color: #b5cf6b;
        fill: #669d45;
    }

    .q4 {
        background-color: #637939;
        fill: #637939;
    }

    .q5 {
        background-color: #3b6427;
        fill: #3b6427;
    }

    @for $i from 1 through length($colorScale) {
        .q#{$i} {
            background-color: nth($colorScale, $i);
            fill: nth($colorScale, $i);
        }
    }

    rect.highlight {
        stroke: #444;
        stroke-width: 1;
    }

    text.highlight {
        fill: #444;
    }

    rect.highlight-now {
        stroke: red;
    }

    text.highlight-now {
        fill: red;
        font-weight: 800;
    }

    .domain-background {
        fill: none;
        shape-rendering: crispedges;
    }
}

/*
  Remove comment to apply this style to date with value equal to 0
  .q0
  {
      background-color: #fff;
      fill: #fff;
      stroke: #ededed
  }
  */

.ch-tooltip {
    padding: 10px;
    background: #222;
    color: #bbb;
    font-size: 12px;
    line-height: 1.4;
    width: 140px;
    position: absolute;
    z-index: 99999;
    text-align: center;
    border-radius: 2px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    display: none;
    box-sizing: border-box;

    &::after {
        position: absolute;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        content: "";
        padding: 0;
        display: block;
        bottom: -6px;
        left: 50%;
        margin-left: -6px;
        border-width: 6px 6px 0;
        border-top-color: #222;
    }
}

.content {
    min-width: 400px;
}

#cal-heatmap {
    text-align: center;

    graph-label {
        font-size: medium;
    }
}

#cal-heatmap a {
    color: #999;
}

#cal-heatmap-PreviousDomain-selector {
    margin-left: 20px;
    font-size: xx-large;
    float: left;
}

#cal-heatmap-NextDomain-selector {
    margin-right: 20px;
    font-size: xx-large;
    float: right;
}

.filters {
    margin-top: 30px;
    text-align: center;
    position: relative;
    // width: 500px;
    // height: 100px;
    .nice-textbox{
        position: relative;
        width: 100px;
        // margin-left: auto;
        // margin-right: auto;
        margin: 5px 5px 5px;
        padding: 10px;
        // border: none;
        border-radius: 5px;
        font-size: 16px;
        color: #000;
        // outline: none;
    }
    select {
        // display: block;
        font-size: 12px;
        font-family: sans-serif;
        font-weight: 700;
        color: #444;
        line-height: 1.3;
        padding: 1em 2.4em .5em 1.8em;
        max-width: 100%; 
        box-sizing: border-box;
        margin: 0;
        border: 1px solid #aaa;
        box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
        border-radius: .5em;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        background-color: #fff;
        background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
          linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
        background-repeat: no-repeat, repeat;
        background-position: right .7em top 50%, 0 0;
        background-size: .65em auto, 100%;
    }
    select::-ms-expand {
        display: none;
    }
    select:hover {
        border-color: #888;
    }
    select:focus {
        border-color: #aaa;
        box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
        box-shadow: 0 0 0 3px -moz-mac-focusring;
        color: #222; 
        outline: none;
    }
    select option {
        font-weight:lighter;
    }
    
}