// colors and backgrounds
$first_color: rgba(20, 80, 140, 1);
$first_bg: linear-gradient(to bottom right, $first_color, rgba(50, 110, 170, 1));
$second_color: rgba(80, 80, 80, 1);
$second_bg: linear-gradient(to bottom right, $second_color, rgba(40, 40, 40, 1));
$some_lives_color: rgba(0, 140, 0, 1);
$no_lives_color: rgba(170, 0, 0, 1);
// section's var
$button_section_height: 180px;

// mains tags
html {
  background-color: rgba(30,30,30,1);
  color: white;
  scroll-behavior: smooth;
}
header {
  height: 280px;
}
body, footer {
  background-color: $first_color;
  background: $first_bg;
  margin: 0 auto;
  font-family: Georgia, serif; // TODO cambia
  color: white;
}

// how to: THE BIG SCROLLPAGE
@media (min-width: 1601px) and (max-width: 5000px) {
  body, footer {
    width: 1606px !important;
  }
}
@media (min-width: 830px) and (max-width: 1170px) {
  body, footer {
    width: 750px !important;
  }
}

// adattamento a mobile
@media screen and (max-width: 1170px) {
  #home_logo {
    display: none !important;
  }
  header {
    height: 256px;
  }
  #banner {
    font-size: 70px;
  }
  #lives_left {
    font-size: 30px;
  }
  .main_page_btn {
    font-size: 30px !important;
  }
}

// home logo code
#home_logo {
  float: left; // così sta a sinistra di h1
  width: 250px; // width deve essere sempre uguale a circa: img width + padding-left di #home_logo
}
#home_btn {
  border: none;
  & img {
    position: absolute; // absolute così le due immagini (home_btn) fanno overlap
    border-radius: 50%;
    -webkit-transition: opacity 0.75s ease-in-out;
    -moz-transition: opacity 0.75s ease-in-out;
    -o-transition: opacity 0.75s ease-in-out;
    transition: opacity 0.75s ease-in-out;
  }
}
#site_logo:hover {
  opacity:0;
}

// manage blinking lives_left border
#lives_left {
  font-size: 60px;
  border-style: solid;
  border-width: 20px;
  -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
.some_lives_left {
  -webkit-animation-name: some_lives_left;
  animation-name: some_lives_left;
}
.no_lives_left {
  -webkit-animation-name: no_lives_left;
  animation-name: no_lives_left;
}
@-webkit-keyframes some_lives_left { // Safari 4.0 - 8.0
  0%   {border-color: $second_color}
  100% {border-color: $some_lives_color}
}
@keyframes some_lives_left { // Standard syntax
  0%   {border-color: $second_color}
  100% {border-color: $some_lives_color}
}
@-webkit-keyframes no_lives_left { // Safari 4.0 - 8.0
  0%   {border-color:$second_color;}
  100% {border-color:$no_lives_color;}
}
@keyframes no_lives_left { // Standard syntax
  0%   {border-color:$second_color;}
  100% {border-color:$no_lives_color;}
}

// sections's
section {
  padding-top: 30px;
  padding-bottom: 30px;
}
.first_bg_color {
  background-color: $first_color;
  background: $first_bg;
}
.second_bg_color {
  background-color: $second_color;
  background: $second_bg;
}
.button_section {
  height: $button_section_height;
  & button {
    width: 75%;
    height: 150px;
  }
}

.main_page_btn {
  font-size: 60px;
  background-color: #FF6C00;
  &:hover {
    background-color: #FFae00;
  }
}

.play_btn_no_lives {
  &:hover {
    background-color: #555555;
  }
}

#description {
  position: relative;
  text-align: center;
  //max-height: $button_section_height;
  //height: auto;
  height: $button_section_height;
  opacity: 0;
}
.description_animate {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-name: description_animation;
  animation-name: description_animation;
}
@-webkit-keyframes description_animation { // Safari 4.0 - 8.0
  0%   {left:0px; top:$button_section_height;}
  100% {left:0px; top:0px;}
}
@keyframes description_animation { // Standard syntax
  0%   {left:0px; top:$button_section_height;}
  100% {left:0px; top:0px;}
}

// footer
footer {
  width: 100%;
  padding-bottom: 20px;
  float: left;
  // deve stare davanti all'animazione della description
  position: absolute;
  z-index: 1;
}
#contacts_and_social {

}
.footer_elem {
  text-align: center;
  width: 50%;
  float: left;
}
.social_link {
  text-align: left;
  width: 140px;
  height: 150px;
  float: left;
  border-radius: 30%;
  &:hover {
    background-color: $some_lives_color;
  }
}
.social_btn {
  padding: 0;
  border: none;
  margin-top: 20px;
  & img {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 30%;
  }
  // padding per mettere al centro img
  margin-left: 20px;
}
