// colors and backgrounds
$first_color: rgba(10, 50, 90, 1); // #285078
$second_color: rgba(50, 90, 130, 1); // #3c648c
$background: linear-gradient(135deg, $first_color, $second_color);
// header's var
$header_height: 280px;
// section's var
$some_lives_color: rgba(0, 140, 0, 1);
$no_lives_color: rgba(170, 0, 0, 1);
$parallax_container_height: 180px;

// mains tags
html {
  background-color: rgba(30,30,30,1);
  color: white;
  scroll-behavior: smooth;
}
header {
  height: $header_height;
}
body, footer {
  background-color: $first_color;
  margin: 0 auto;
  color: white;
  // TODO cambia il font ovunque
  font-family: Georgia, serif;
}
body {
  background: $background;
  background-size: 400% 400%;
  -webkit-animation: backgroundAnimation 8s ease infinite;
  -moz-animation: backgroundAnimation 8s ease infinite;
  animation: backgroundAnimation 8s ease infinite;
}
@-webkit-keyframes backgroundAnimation {
    0%{background-position:0% 2%}
    50%{background-position:100% 99%}
    100%{background-position:0% 2%}
}
@keyframes backgroundAnimation {
    0%{background-position:0% 2%}
    50%{background-position:100% 99%}
    100%{background-position:0% 2%}
}

// home logo's code
#home_logo {
  float: left;
  width: 250px; // width deve essere sempre uguale a circa: img width + padding-left di #home_logo
}
#home_btn {
  border: none;
  & img {
    position: absolute;
    border-radius: 50%;
    -webkit-transition: opacity 0.75s ease-in-out;
    -moz-transition: opacity 0.75s ease-in-out;
    -o-transition: opacity 0.75s ease-in-out;
    transition: opacity 0.75s ease-in-out;
  }
}
#site_logo:hover {
  opacity:0;
}

// parallax sections
.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  //text-align: center;
  color: #000;
}
.uni-bg, .play-bg, .rankings-bg, .tickets-bg, .redeem-bg {
  position: relative;
  min-height: $parallax_container_height;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.uni-bg {
  background-image: url("../images/uni_background.png");
}
.play-bg {
  background-image: url("../images/play_background.png");
}
.rankings-bg {
  background-image: url("../images/rankings_background.png");
}
.tickets-bg {
  background-image: url("../images/tickets_background.png");
}
.redeem-bg {
  background-image: url("../images/redeem_background.png");
}

// description's code
#description {
  position: relative;
}
.description_animate {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-name: description_animation;
  animation-name: description_animation;
}
@-webkit-keyframes description_animation { // Safari 4.0 - 8.0
  0%   {left:0px; top:$parallax_container_height;}
  100% {left:0px; top:0px;}
}
@keyframes description_animation { // Standard syntax
  0%   {left:0px; top:$parallax_container_height;}
  100% {left:0px; top:0px;}
}

// blinkings lives_left
#lives_left {
  font-size: 60px;
  border-style: solid;
  border-width: 20px;
  -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
.some_lives_left {
  -webkit-animation-name: some_lives_left;
  animation-name: some_lives_left;
}
.no_lives_left {
  -webkit-animation-name: no_lives_left;
  animation-name: no_lives_left;
}
@-webkit-keyframes some_lives_left {
  0%   {border-color: $second_color}
  100% {border-color: $some_lives_color}
}
@keyframes some_lives_left {
  0%   {border-color: $second_color}
  100% {border-color: $some_lives_color}
}
@-webkit-keyframes no_lives_left {
  0%   {border-color:$second_color;}
  100% {border-color:$no_lives_color;}
}
@keyframes no_lives_left {
  0%   {border-color:$second_color;}
  100% {border-color:$no_lives_color;}
}

// buttons's code
.btn_container {
  & button {
    width: 75%;
    height: 150px;
  }
}
.main_page_btn {
  font-size: 60px;
  background-color: #FF6C00;
  &:hover {
    background-color: #FFae00;
  }
}
.play_btn_no_lives {
  &:hover {
    background-color: #555555;
  }
}

// footer's code
footer {
  width: 100%;
  float: left;
}
.footer_elem {
  text-align: center;
  width: 50%;
  float: left;
}
.social_link {
  text-align: left;
  width: 140px;
  height: 150px;
  float: left;
  border-radius: 30%;
  &:hover {
    background-color: $some_lives_color;
  }
}
.social_btn {
  padding: 0;
  border: none;
  margin-top: 20px;
  & img {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 30%;
  }
  // padding per mettere al centro img
  margin-left: 20px;
  margin-top: 24px;
}

// how to: THE BIG SCROLLPAGE
@media (min-width: 1601px) and (max-width: 5000px) {
  body, footer {
    width: 1606px !important;
  }
}
@media (min-width: 830px) and (max-width: 1170px) {
  body, footer {
    width: 750px !important;
  }
}

// adattamento a mobile
@media screen and (max-width: 1170px) {
  #home_logo {
    display: none !important;
  }
  header {
    height: 200px;
  }
  .uni-bg, .play-bg, .rankings-bg, .tickets-bg, .redeem-bg {
    // TODO
  }
  #banner {
    font-size: 50px;
  }
  #lives_left {
    font-size: 30px;
  }
  .main_page_btn {
    font-size: 30px !important;
  }
}
