*, *:before, *:after {
  box-sizing: border-box;
}

html{
  height: 100%;
  width: 100%;
}

body{
  background: rgba(10,70,130,1);
}

.container {
  color: #fff;
  font-family: Comfortaa, Helvetica, sans-serif;
}

.login {
  max-width: 280px;
  margin-left: auto;
  margin-right: auto;
  margin-top:30px;
  background: linear-gradient(0deg, rgba(6,0,107,1) 16%, rgba(15,26,120,1) 37%, rgba(14,158,185,1) 100%);
  &-icon-field {
    height: 250px;
    width: 100%;
  }
  &-icon {
      margin: 50px 65px;
  }
  &-form, .rad {
    padding: 8px 20px 20px;
    height: 100%;
    width: 100%;
  }
}

.username-row,.email-row,.corsi-row {
  position: relative;
  height: 40px;
  border-bottom: 1px solid;
  margin-bottom: 10px;
}

.password-row {
  position: relative;
  height: 40px;
  border-bottom: 1px solid;
}

.password-icon,
.user-icon, .mail-icon,
.corsi-icon{
  margin: 5px;
}

.password-icon .key-path,
.user-icon .user-path,
.mail-icon .mail-path,
.corsi-icon .corsi-path {
  fill: rgba(10,10,10,0);
  stroke: #fff;
  stroke-width: 3.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  -webkit-animation: dash 2s .3s linear forwards;
  animation: dash 2s .3s linear forwards;
}

.user-icon .user-path,
.mail-icon .mail-path,
.corsi-icon .mail-path{
  -webkit-animation: dash 2s .8s linear forwards;
  animation: dash 2s .8s linear forwards;
}

input, .corsi{
  position: absolute;
  width: 195px;
  height: 30px;
  margin: 5px 0;
  background: transparent;
  border: none;
  color: white;
  font-family: Comfortaa, Helvetica, sans-serif;
}

option{
	background-color:rgb(3,42,106,.80);
}

input, .buttonLog {
  &:focus {
    outline: none;
  }
}

input::-webkit-input-placeholder {
  color: rgba(255,255,255,.4);
}

input::-moz-placeholder {
  color: rgba(255,255,255,.4);
}

.call-to-action {
  margin: 22px 0;
}


.buttonLog {
  all: initial;
  * {
    all: unset;
  }
}

.buttonLog {
  font-family: Comfortaa, Helvetica, sans-serif;
  text-align: center;
  display: block;
  width: 240px;
  height: 40px;
  padding: 0;
  font-weight: 700;
  color: #fff;
  background-color: #FF6C00;
  border: none;
  border-radius: 20px;
  transition: background-color .10s ease-in-out;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  /*Con SCSS puoi usare &hover ecc.*/
  &:hover {
    background-color: #FF8E00;
  }
  &:active {
    background-color: #A65C00;
  }
}

label,
p a:hover {
  -webkit-cursor: pointer;
  cursor: pointer;
}

@-webkit-keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

/*CHOICE LOG IN OR SIGN UP*/

li{
	font-size:20px;
	padding-bottom:5px;
	margin:0 20px 20px 27px;
	display:inline-block;
	border-bottom:2px solid transparent;
}

.tab-1{
	border-color:#1161ee;
}

path{
  stroke-width: 20px;
  stroke: white;
}
