.barButton, .pieButton, .homeButton, .ticketButton, .qrButton, .logoutButton, .contactButton {
  color:white;
}

.barIcon, .pieIcon, .ticketIcon, .qrIcon, .logoutIcon, .contactIcon, .heatmapIcon {
  font-size: 36px;
}

.homeIcon{
  font-size: 30px;
}
